.reveal {
  text-align: left;
}
mark {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-10&color=ff335cc7);
  margin: -5px -6px;
  padding:  4px 6px 7px 6px;
  color: white;
  font-weight: 600;
}
li {
  list-style-type: none;
  margin-bottom: 1em;
}
.scroll {
  display: block;
  flex-direction: column;
  overflow: scroll;
  margin-bottom: 1em;
}